body{
    text-align: center;    
}
h1{
    float: middle;
}
h3{
    margin-right: 190px;
    font-size: 25px;
}
.a{
    margin-right: 230px; 
}
input{
    font-size: 25px;
}
.button{
    padding: 10px;
    text-align: center; 
    background-color:rgb(93, 240, 93); 
}
.main{ 
    width:350px;
    height:400px;
    display: inline-block;
    text-align: left;   
}
