table,thead,th,td,tr{
    border: 1px solid black;
    margin-left: 32%;
}
th, td {
    padding: 12px;
  }
  h2{
    text-align: center;
  }
  button{
    padding:7px;
    background-color:rgb(93, 240, 93);
  }
  