<!-- <h2>Employeedepartments</h2>
<table>
    <thead>
        <th>EmployeeId</th>
        <th>EmployeeDepartment</th>
    </thead>
    <tbody>
        <tr *ngFor="let d of empdata">
        <td>{{d.empid}}</td>
        <td>{{d.edept}}</td>
    </tbody>
</table> -->

<h2>EmployeeAllDetails</h2>
<table>
    <thead>
        <th>EmployeeId</th>
        <th>EmployeeName</th>
        <th>DepartmentId</th>
        <th>EmployeeDepartment</th>
    </thead>
    <tbody>
        <tr *ngFor="let b of empd">
        <td>{{b.Id}}</td>
        <td>{{b.Name}}</td>
        <td>{{b.id}}</td>
        <td>{{b.department}}</td>
    </tbody>
</table>


