div{
    text-align: center;
}
button{
    color: rgb(247, 41, 144);
    background-color: aqua;
    font-size: 20px;
}
p{
    color:red;
    font-size: 25px;
}
span{
    padding: 10px;
}
.main{
    //border:2px solid black;
    width:350px;
    height:320px;
    //display: inline-block;
    margin-top: 200px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 480px;
}