body{
    text-align: center;    
}
h1{
    float: middle;
}
h3{
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
}
input{
    font-size: 20px; 
    
}
.button{
    padding: 10px;
    text-align: center; 
    background-color:rgb(93, 240, 93); 
}
.main{
    border:1px solid black;   
    width:350px;
    height:430px;
    display: inline-block;

   margin-left: 17px;
}
form{
    //border:1px solid black;  
    width:750px;
    height:400px;
    margin-left: 350px;
}
