body{
    text-align: center;    
}
h1{
    float: middle;
}
h3{
    text-align: left;
    margin-left: 15px;
    font-size: 25px;
}
input{
    font-size: 25px;
}
.button{
    padding: 10px;
    text-align: center; 
    background-color:rgb(93, 240, 93); 
}
.main{
    //border:1px solid black;   
    width:350px;
    height:400px;
    display: inline-block;
    text-align: left; 
}
