div{
    margin-left: 40%;  
}
button{
    margin-left:35%;
}
h1{
    margin-left: 43%;
}
.da{
    border:1px;
    margin-right: 50px;  
}

  a{
      margin-left:50px;
      color: red;
  }
  .main{
    //border:1px solid black;
    width:250px;
    height:520px;
    //display: inline-block;
}
input{
    font-size: 20px;
}
label{
    font-size:15px;
    color: rgb(245, 55, 166);
}
.sta{
    width: 220px;
    margin-left: 2px;
}