table,thead,th,td,tr{
    border: 1px solid black;
    margin-left: 5%;
}
th, td {
    padding: 15px;
  }
  h2{
    text-align: center;
  }
  button{
    padding:7px;
    background-color:rgb(93, 240, 93);
  }
  // .but{
  //     margin-left: %;
  // }
  .b{
    margin-left: 690px;
  }
  input{
  height:40px;
  width:400px;
  
}
.s{
  margin-left: 990px;
}
a{
  text-decoration: none;
}
button:hover{
  color:blueviolet;
}