<div class="main">
<span></span>
<a routerLink='/crypt'>Encrypt/Decrypt</a><span></span>
<a routerLink='/data'>Registration Details</a><span></span>
<a routerLink='/datepicker'>Datepicker</a><span></span>
<a routerLink='/calendar'>Calendar</a><span></span>
<a routerLink='/addform'>Addform</a><span></span>
<a routerLink='/addtemp'>AddTemp</a><span></span>
<a routerLink='/dateboot'>dateboot</a><span class="n1"></span>
<a routerLink='/regform'>SignUp</a><span></span>
<a routerLink='/login'>Login</a><span></span>
</div>

