body{
    text-align: center;
}
h3{
    text-align: left;
    margin-left: 15px;
    font-size: 25px;
}
input{
    font-size: 25px;
}
.button{
    padding:7px;
    background-color:rgb(93, 240, 93);
    font-size: 15px;
}
.main{
    border:2px solid black;
    width:350px;
    height:260px;
    display: inline-block;
}
span{
    margin-left: 10px;
}
